/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

.blue-highlight {
  color: #00a599;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.a-dark {
  color: #00a599;
  font-size: 1.25rem;
  font-weight: 300;
}

.a-dark:focus,
.a-dark:hover {
  color: #6c757d!important;
}

.a-contact {
  color: #00a599;
}

.a-light{
  font-size: 1.25rem;
  font-weight: 300;
}
.a-light:focus,
.a-light:hover {
  color: #6c757d!important;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/* blue/teal colour used is #00a599*/


/*
 * Base structure
 */

html,
body {
  font-family: 'Nanum Gothic', sans-serif;
  height: 100%;
  background-color: #ffffff;
}

body {
  color: #383838;
  text-align: center;
}

/* Text decorations*/
.shadow-text {
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.nav-wrapper {
  display: table;
  width: 100%;
  height: 4%; /* For at least Firefox */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}
.site-wrapper-index {
  background-image: url('images/mountainView.jpeg');
  background-size: cover;
  background-position: center bottom;
  display: table-cell;
  vertical-align: top;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* Padding for spacing */
/*.inner {*/
/*padding-top: 30px;*/
/*}*/

.inner-cover {
  justify-content: center;
  display: flex;
  align-self: center;
  flex-direction: column;
}
/*px.main-jumbo {
  background-image: url('images/neo4j.png');
  background-size: cover;
 height:1--;
}*/

/*
 * Header
 */

.nav {
  justify-content: center;
}

.nav-fade {
  background-image: linear-gradient(white, transparent);
  height: 5px;
}

.masthead-nav {
  padding-top: 0.5em;
  background-color: white;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  padding-left: 5px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 22px;
  font-weight: 500;
  color: #383838; /* IE8 proofing */
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: #00a599;
  border-bottom-color: transparent;
}
.masthead-nav > .active > a {
  color: #00a599;
}

.mastfoot-socials {
  padding-left: 5px;
}

a:hover {
  color: #00a599;
  text-decoration: none;
}

/*a:link {*/
/*color: #00a599;*/
/*}*/

.btn-default {
  background-color: #00a599;
  color: #fff;
}
/*@media (min-width: 768px) {*/
/*.masthead-brand {*/
/*float: left;*/
/*}*/
/*.masthead-nav {*/
/*float: right;*/
/*}*/

/*}*/




/*
 * Cover
 */

.cover {
  padding: 20px 20px 20px 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}

/*
 * Footer
 */

.mastfoot {
  color: #383838;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.mastfoot-index {
  color: #999;
  color: rgba(255, 255, 255, .5);
  position: absolute;
  flex-direction: row;
  justify-content: center;
  bottom: 5px;
  display: flex;
  width: 100%;
}

.mastfoot-p {
  background-color: ghostwhite;
  margin-bottom: 0;
}

.mastfoot-fade {
  background-image: linear-gradient(transparent, ghostwhite);
  height: 3px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */
  }
  .site-wrapper-index {
    vertical-align: middle; /* Start the vertical centering */
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}


/* Featurettes
------------------------- */

.featurette  {
  display: flex;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  width: 75%;
  align-self: center;
}


.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-top {
  border-color: transparent;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
  max-height: 500px;
  max-width: 500px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* PAGE RELATED CSS
-------------------------------------------------- */

/* Index */


/* index */
@media (min-width:999px) {

  .hello-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

}

.inner {
  height:100%;
}
/* ACHIEVEMENTS */

.achievement-link {
  font-weight: bold;
}
.achievement-link:hover {
  color: black;
}
.dark-bg {
  background-color: #00a599!important;
}

.achievement-small {
  max-width: 100%;
  max-height: 100%;
  padding:10px;
  border-radius: 21px 21px 0 0;
}

.achievement-large {
  position: absolute;
  z-index: 1;

}
.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

/* CV */


.cv-block {
  margin: 1%;
  width: 50%;
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);  */
  padding: 10px;
  box-shadow: 5px 5px #888888;
}
@media (min-width: 999px) {
  .cv-pdf {
    height: 1000px;
    width: 75%;
  }
}
/* CONTACT */

.contact-img {
  flex-direction: column;
  justify-content: center;
}

.contact-row {
  width:100%;
  margin:0;
}

.full-height {
  height:100%;
}

.contact-pad {
  padding-top:12.5%;
}

.overflow-hidden {
  overflow: hidden;
}


.site-wrapper-clean {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.contact-flex {
  position: relative;
  width: 100%;
  min-height: 1px;
  /*
  padding-right: 15px;
  padding-left: 15px;
  */
  flex-direction: row;
  display: flex;
}
/* Work Experience */

.uealogo {
  max-height:250px;
}

.mob-adjust {
  padding-top: 0;
}
/* PAGE RESIZE CSS
-------------------------------------------------- */

@media (min-width: 999px) {

  .navbar {
    display: none;
  }

  .index-main {
    background-image: none;
  }
}
@media (max-width: 999px) {

  body {
    height: fit-content;
  }

  .nav {
    display: none;
  }
}
/* index */
@media (max-width:999px) {

  .index-main {
    background-image: url("images/mountainView.jpeg");
    background-position: bottom;
  }

  .site-wrapper-index {
    background: none;
  }
  .index-body {
    height: 100%
  }


  .main-mobile {
    height:100%;
  }

  .nav-mobile {
    color: #fff;
  }

  .nav {
    justify-content: center;
  }

  .nav-fade {
    display: none;
  }
  .masthead-nav {
    padding-top: 0;
    background-color: white;
  }
  .masthead-nav > li > a {
    font-size: 150%;
  }

  .h1, h1 {
    font-size: 2em;
  }
  .h2, h2 {
    font-size: 1em;
  }

  .heading
  .site-wrapper {
    overflow: hidden;
  }

  .hello-box {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

/* WorkExperience */
@media (max-width:999px) {

  .featurette-image {
    max-height: 250px;
    max-width: 250px;
  }

  .uealogo {
    max-width:300px;
  }

  .mob-adjust {
    padding-top: 30px;
  }

}

/* Contact */

@media (max-width: 999px) {
  .contact-flex {
    flex-direction: row;
    display: flex;
  }

  .contact-pad {
    padding-top:50px;
  }

  .contact-col {
    padding-right: 0;
    padding-left: 0;
  }
}

/* University */

@media (max-width: 999px) {
  .swap-light {
    background-color: #00a599!important;
    color: #fff!important;
  }

  .swap-dark {
    background-color: #f8f9fa!important;
    color: #383838 !important;
  }
}

/* CV */

@media (max-width: 999px) {
  .cv-pdf {
    display: none;
  }
}